@import url(http://fonts.googleapis.com/css?family=Roboto:300);
body
{
 	background-image: url(portada.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;	
	text-align: center;
}
h1,h2,h3,h4,h5,h6,p,a,li,ul,td,th,button
{
	font-family: 'Roboto', sans-serif;
}
/****************************************/
/* Anterior y siguiente 
/****************************************/
.pasar
{
	background-color: rgba(211, 211, 211,0.5);
	width: 100%;
	height: 10em;
	/*margin: 5em;
	padding: 5em;*/
}
.anterior
{	
	background-color: rgba(46, 189, 87,0.6);
	color: black;
	float: left;
	text-align: right;
}

.siguiente
{
	background-color: rgba(46, 189, 87,0.6);
	color: black;
	float: right;
	text-align: right;
}

/****************************************/
/* Página de Temas 
/****************************************/
#cabecera h1
{
	background-color: rgba(0, 162, 231,0.8);
}
#cabecera p
{
	background-color: rgba(0, 162, 231,0.7);
	margin-top: -1.4em;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	margin-bottom: 0.5em;
}
#contenedorconceptos
{
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 10%;
	margin-right: 5%;
	overflow: hidden;
}
.temas1
{
	background-color: rgba(0, 162, 231,0.8);
	padding-bottom: 0%;
	padding-right: 0%;
	padding-left: 0%;
	margin-bottom: 0%;
	margin-top: 1%;
	margin-left: 1%;
	height: 15%;
	width: 15%;
	position: relative;
	float: left;
}

.temas1 img
{
	height: 12%;
	width: 15%;
}
.temas1:hover img
{ 
	background-color: #3AA6D0;
}
.color1
{
	background-color: rgba(0, 162, 231, 0.6);
}
.color2
{
	background-color: rgba(238, 201, 0, 0.7);
}
.color3
{
	background-color: rgba(34, 139, 34, 0.6);
}
.color4
{
	background-color: rgba(255, 165, 000, 0.7);
}
.vista 
{
    width: 15em;
    height: 15em;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.vista .mascara, .vista .contenido 
{
    width: 15em;
    height: 15em;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.vista img 
{
    display: inline;
    position: relative;
    height: 12em;
    width: 15em;
}
.vista:hover img
{
    height: 15em;
    width: 18em;
}
.contenido h2
{
	color: white;
}
#header h3
{
    font-size: 25px;
    color: black;
    margin-left: 2.3em;
    margin-top: .2em;
    position: absolute;
    display: block;

}
#header2 h3
{
    font-size: 24px;
    color: black;
    margin-left: 1em;
    margin-top: .2em;
    position: absolute;
    display: block;

}
#header3 h3
{
    font-size: 25px;
    color: black;
    margin-left: 2em;
    margin-top: .2em;
    position: absolute;
    display: block;

}
#header4 h3
{
    font-size: 25px;
    color: black;
    margin-left: 1.8em;
    margin-top: .2em;
    position: absolute;
    display: block;

}
#header5 h3
{
    font-size: 25px;
    color: black;
    margin-left: 1.5em;
    margin-top: .2em;
    position: absolute;
    display: block;

}
#header6 h3
{
    font-size: 25px;
    color: black;
    margin-left: 2.3em;
    margin-top: .2em;
    position: absolute;
    display: block;

}
#header7 h3
{
    font-size: 25px;
    color: black;
    margin-left: 1.8em;
    margin-top: .2em;
    position: absolute;
    display: block;

}
#header8 h3
{
    font-size: 25px;
    color: black;
    margin-left: 2em;
    margin-top: .2em;
    position: absolute;
    display: block;

}
#header9 h3
{
    font-size: 25px;
    color: black;
    margin-left: 0.6em;
    margin-top: .2em;
    position: absolute;
    display: block;

}
#header10 h3
{
    font-size: 25px;
    color: black;
    margin-left: 0.6em;
    margin-top: .2em;
    position: absolute;
    display: block;

}
#header11 h3
{
    font-size: 25px;
    color: black;
    margin-left: 0.6em;
    margin-top: .2em;
    position: absolute;
    display: block;

}
.vista p 
{
	color: white;
    font-size: 0.8em;
    font-weight: bolder;
    font-style: normal;
    position: relative;
    padding: 6% 6% 6%;
    text-align: center;
}
.vista a.informacion {
    display: inline-block;
    text-decoration: none;
    padding: 3% 3%;
    background-color: rgba(211, 211, 211,0.5);
    color: black;
    margin-top: -1em;
}
a.informacion:hover
{
    background-color: rgba(0, 0, 128, 0.5);
}

/******************************************************************************/
/* Transiciones */
.vista img 
{
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.vista .mascara 
{
    opacity: 0;
    width: 300px;
    padding: 60px;
    height: 300px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: translate(265px, 145px) rotate(45deg);
    -moz-transform: translate(265px, 145px) rotate(45deg);
    -o-transform: translate(265px, 145px) rotate(45deg);
    -ms-transform: translate(265px, 145px) rotate(45deg);
    transform: translate(265px, 145px) rotate(45deg);
}
.vista h2 
{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    -webkit-transform: translate(200px, -200px);
    -moz-transform: translate(200px, -200px);
    -o-transform: translate(200px, -200px);
    -ms-transform: translate(200px, -200px);
    transform: translate(200px, -200px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.vista p 
{ 
    -webkit-transform: translate(-200px, 200px);
    -moz-transform: translate(-200px, 200px);
    -o-transform: translate(-200px, 200px);
    -ms-transform: translate(-200px, 200px);
    transform: translate(-200px, 200px);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.vista a.informacion
{
	font-weight: bolder;
    -webkit-transform: translate(0px, 100px);
    -moz-transform: translate(0px, 100px);
    -o-transform: translate(0px, 100px);
    -ms-transform: translate(0px, 100px);
    transform: translate(0px, 100px);
    -webkit-transition: all 0.2s 0.1s ease-in-out;
    -moz-transition: all 0.2s 0.1s ease-in-out;
    -o-transition: all 0.2s 0.1s ease-in-out;
    -ms-transition: all 0.2s 0.1s ease-in-out;
    transition: all 0.2s 0.1s ease-in-out;
}
.vista:hover .mascara 
{ 
    opacity: 1;
    -webkit-transform: translate(-80px, -125px) rotate(45deg);
    -moz-transform: translate(-80px, -125px) rotate(45deg);
    -o-transform: translate(-80px, -125px) rotate(45deg);
    -ms-transform: translate(-80px, -125px) rotate(45deg);
    transform: translate(-80px, -125px) rotate(45deg);
}
.vista:hover h2 
{ 
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    -o-transform: translate(0px,0px);
    -ms-transform: translate(0px,0px);
    transform: translate(0px,0px);
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.vista:hover p 
{
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    -o-transform: translate(0px,0px);
    -ms-transform: translate(0px,0px);
    transform: translate(0px,0px); 
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    -ms-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.vista:hover a.informacion 
{
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    -o-transform: translate(0px,0px);
    -ms-transform: translate(0px,0px);
    transform: translate(0px,0px); 
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
/****************************************/
/* Página de Pronombres:Conceptos                                                                        */
/****************************************/

#contenedor
{
	background-color: rgba(211, 211, 211,0.7);
	color: black;
	font-size: 1.5em;
	padding-top: 5em;
	padding-bottom: 5em;
	padding-right: 10%; 
	padding-left: 10%;
	text-align: center;
}
#contenedor h1
{
	text-align: center;
}
.bajar
{	
	border-width: .2em;
	border-style: solid;
	border-color: rgba(0, 162, 231,0.6); 
	background-color:rgba(0, 162, 231,0.6); 
	font-size: 1em;	
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 0.5em 1em 0.5em 1em;
	-webkit-transition: all 0.2s; /* Chrome antiguo y Safari */
    -moz-transition: all 0.5s; /* Mozilla antiguo */
    -o-transition: all 0.5s; /* Opera antiguo */
    transition: all 0.2s; /* Regla estandar */
}

.bajar:hover
{
	background-color: transparent;
}
.contenedor2
{
	background-color: rgba(0, 162, 231,0.6);
	color: white;
	font-size: 1.5em;
	padding-bottom: 1em;
	padding-top: 1em;
	padding-right: 10%; 
	padding-left: 10%;
}

.contenedor2 h2
{
	text-align: center;
}
.contenedor2 table,th,td
{
	text-align: center;
	font-size: 100%
}
.contenedor2 td
{
	background-color: rgba(211, 211, 211,0.5);
}
.contenedor2 th
{
	background-color: rgba(0, 0, 128, 0.5);
	text-align:center;
}
/*	Ancho de las tablas	*/
#ancho1
{
	padding-left: 5em;
	padding-right: 5em;
}
#ancho2
{
	padding-left: 2em;
	padding-right: 2em;
}
.ancho3
{
	padding-left: 2.6em;
	padding-right: 2.6em;
}
.ancho4
{
	padding-left: 4.4em;
	padding-right: 4.4em;
}
.contenedor3
{
	background-color: rgba(211, 211, 211,0.5);
	color: black;
	font-size: 1.5em;
	padding-bottom: 1em;
	padding-top: 1em;
	padding-right: 10%; 
	padding-left: 10%;
}

.contenedor3 h2
{
	text-align: center;
}
.contenedor3 table,th,td
{
	text-align: center;
}
.contenedor3 td
{
	padding:.2em;
	background-color: rgba(46, 189, 87,0.6);
}
.contenedor3 th
{
	text-align:center;
	background-color: rgba(69, 139, 116, 0.8);
}
.centrar
{
	text-align: center;
}

.centrar table 
{
	margin: 0 auto;
	text-align: center;
}
body #nav
{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 1.5em 0 1.5em 0;
	margin-bottom: -1em;
	z-index: 1;
	overflow: hidden;
}

body #nav > ul
{
	line-height: 0px;
	position: relative;
	display: inline-block;
	margin: 0;
	height: 21px;
	border-left: solid 1px rgba(192,192,192,0.50);
	border-right: solid 1px rgba(192,192,192,0.35);
}
		
body #nav > ul:before,
body #nav > ul:after
{
	content: '';
	display: block;
	width: 300%;
	position: absolute;
	top: 50%;
	margin-top: -2px;
	height: 5px;
	border-top: solid 1px rgba(192,192,192,0.35);
	border-bottom: solid 1px rgba(192,192,192,0.35);
}
		
body #nav > ul:before
{
	left: 100%;
	margin-left: 1px;
}

body #nav > ul:after
{
	right: 100%;
	margin-right: 1px;
}		

body #nav > ul > li
{
	display: inline-block;
	margin: -9px 0.5em 0 0.5em;
	padding: 0.85em;
	border: solid 1px transparent;
}
			
body #nav > ul > li.active
{
	border-color: rgba(192,192,192,0.35);
}
			
body #nav > ul > li > a,
body #nav > ul > li > span
{
	display: block;
	color: black;
	text-decoration: none;
	border: 0;
	outline: 0;
}


body #nav > ul > li:hover
{
	background-color: rgba(0, 162, 231, 0.7);
	height: 15%;
	text-shadow: rgba(0,0,0,0.5) 2px 2px 2px;
}

body #nav > ul > li a:hover
{
	color: black;
}
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

footer
{
	position: relative;
	overflow: hidden;
	padding: 2em 0 0em 0;
	background: #2b252c;
	color: #fff;
}

footer .fa.circled
{
	background: #fff;
	color: #2b252c;
}

footer header
{
	text-align: center;
	cursor: default;
}

footer h2,
footer h3,
footer h4,
footer h5,
footer h6
{
	color: #fff;
}

footer .contact
{
	/* [disabled]text-align: center; */
	/* [disabled]margin-top: 0px; */
	/* [disabled]margin-right: 0px; */
	/* [disabled]margin-bottom: 0px; */
	/* [disabled]margin-left: 0px; */
	position: relative;
	/* [disabled]float: right; */
	/* [disabled]left: 30em; */
	/* [disabled]top: 30em; */
	/* [disabled]right: 30em; */
	/* [disabled]bottom: 30em; */
	/* [disabled]display: block; */
}
.contact h3
{
	text-align: center;
}

footer .copyright
{
	text-align: center;
	color: rgba(128,128,128,0.75);
	font-size: 0.8em;
	cursor: default;
}

footer .copyright a
{
	color: rgba(128,128,128,0.75);
}

footer .copyright a:hover
{
	color: rgba(212,212,212,0.85);
}

ul.style1
{
}

ul.actions
{
}

ul.divided
{
}
		
ul.divided li
{
	border-top: solid 1px rgba(128,128,128,0.2);
	padding-top: 1.5em;
	margin-top: 1.5em;
}
			
ul.divided li:first-child
{
	border-top: 0;
	padding-top: 0;
	margin-top: 0;
}

ul.menu
{
	height: 1em;
	line-height: 1em;
}
		
ul.menu li
{
	display: inline-block;
	border-left: solid 1px rgba(128,128,128,0.2);
	padding-left: 1.25em;
	margin-left: 1.25em;
}
			
ul.menu li:first-child
{
	border-left: 0;
	padding-left: 0;
	margin-left: 0;
}

ul.icons
{
	position: relative;
	background: rgba(128,128,128,0.05);
	border-radius: 4em;
	display: block;
	padding: 0.35em 0.75em 0.35em 0.75em;
	font-size: 1.25em;
	cursor: default;
	text-align: center;
}
		
ul.icons li
{
	display: inline-block;
	text-align: center;
}

ul.icons li a
{
	display: inline-block;
	background: none;
	width: 2.5em;
	height: 2.5em;
	line-height: 2.5em;
	text-align: center;
	border-radius: 100%;
	border: 0;
	color: inherit;
}
				
ul.icons li a:hover
{
	color: #ef8376;
	text-align: center;
}

ol.style1
{
}

.fa
{
	text-decoration: none;
}

.fa.solo span
{
	display: none;
}
	
.fa:before
{
	font-family: FontAwesome;
	font-size: 1.25em;
}

.fa-twitter:before{content:"\f099"}
.fa-facebook:before{content:"\f09a"}
.fa-pinterest:before{content:"\f0d2"}
.fa-pinterest-square:before{content:"\f0d3"}
.fa-google-plus-square:before{content:"\f0d4"}
.fa-google-plus:before{content:"\f0d5"}